appdirs==1.4.3
argh==0.26.2
audioread==2.1.8
backcall==0.1.0
certifi==2019.9.11
cffi==1.11.5
chardet==3.0.4
cycler==0.10.0
Cython==0.29.6
decorator==4.4.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
joblib==0.13.2
jupyter-client==5.3.3
jupyter-core==4.5.0
kiwisolver==1.1.0
librosa==0.7.0
llvmlite==0.29.0
matplotlib==3.1.1
moviepy==1.0.0
numba==0.45.1
numpy==1.16.2
packaging==19.0
pandas==0.25.1
parso==0.5.1
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
-e git+https://github.com/luvsound/pippi.git@48d9818ca828731adad24d37146e50cf748d99c4#egg=pippi
pkg-resources==0.0.0
proglog==0.1.9
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
pyparsing==2.3.1
pysndfx==0.3.6
PySoundFile==0.9.0.post1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
requests==2.22.0
resampy==0.2.2
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
six==1.12.0
sounddevice==0.3.14
SoundFile==0.10.2
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.2
urllib3==1.25.6
wcwidth==0.1.7
